{% extends 'components/base.html' %}

{% block title %}
Users
{% endblock %}

{% block content %}

<div class="container mt-4">
        <h2>Users List</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in user_list %}
                <tr>
                    <td>{{ user["id"] }}</td>
                    <td>{{ user["name"] }}</td>
                    <td>{{ user["email"] }}</td>
                    <td><a href="" class="btn btn-info btn-sm">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
